/* .main-content-projects {

} */

.main-content-projects-title {
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-content-projects-subtitle-1 {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* .main-content-projects-subtitle-2 {
    padding-left: 8rem;
} */

.main-content-projects-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 5rem;
}

@media screen and (max-width: 768px) {
    /* .main-content-projects-subtitle-2 {
        padding-left: 4rem;
        padding-right: 4rem;
    } */

    .main-content-projects-details {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .main-content-projects-title, 
    .main-content-projects-subtitle-1, 
    .main-content-projects-subtitle-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main-content-projects-details {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}