.work-exp-icon-work {
    display: flex;
    justify-content: center;
    padding: 3rem 3rem 0.5rem 3rem;
}

.work-exp-icon {
    color: #f5f5f5;
    font-size: 1.8rem;
    text-align: center;
}

.work-exp {
    max-width: 1000px;
    width: 100%;
    padding-left: 1.3rem;
}

.work-exp-date {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.work-exp-title {
    font-size: calc(16px + 1.25vw);
}

.work-exp-company {
    letter-spacing: 0.1rem;
    text-transform: capitalize;

    margin-bottom: 1.5rem;
}

.work-exp-copy {
    /* font-family: 'Titillium Web', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0rem;
    text-align: justify;
    text-transform: lowercase; */

    text-align-last: left;
    white-space: pre-line;
}

.work-exp-hr {
    border-top: 1px solid rgba(245, 245, 245, 0.2);
}

@media screen and (max-width: 768px) {
    .work-exp-icon-work {
        padding: 0rem 3rem 0rem 3rem;
    }
}

@media screen and (max-width: 600px) {
    .work-exp-icon-work {
        flex-direction: column;
        padding: 0rem 1rem 0rem 1rem;
    }
    
    .work-exp {
        padding: 0;
    }

    .work-exp-date {
        text-align: center;
    }

    .work-exp-title {
        text-align: center;
    }

    .work-exp-company {
        text-align: center;
    }
}