/* .main-content-skills {
    height: 100vh;
} */

.main-content-skills-title {
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-content-skills-subtitle-1 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-content-skills-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 5rem 0 3rem 0;
}

.main-content-skills-details-2 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 5rem 5rem 5rem;
}

.main-content-skills-details-2-wrapper {
    width: 800px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .main-content-skills-details {
        flex-direction: column;
    }

    .main-content-skills-details-2 {
        padding: 1rem 5rem 0rem 5rem;
    }

    .main-content-skills-details-2-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .main-content-skills-title, .main-content-skills-subtitle-1 {
        padding-left: 2rem;
    }

    .main-content-skills-details-2 {
        padding: 1rem 2rem 0rem 2rem;
    }
}