.skills-details-2 {
    width: 350px;

    padding-bottom: 2rem;
}

.skills-details-icon-name-2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */

    padding-bottom: 0.4rem;
}

.skills-details-icon-2 {
    /* color: rgb(30, 144, 255); */
    font-size: 1.5rem;
}

.skills-details-name-2 {
    letter-spacing: 0.2rem;

    margin: 0;
    padding-left: 0.5rem;
}

.skills-details-spacer-2 {
    flex: 1;
}

.skills-details-perc-2 {
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.skills-details-bar-2 {
    width: 100%;
    height: 10px;
    background: whitesmoke;
    border-radius: 0.1rem;

    overflow: hidden;
}

.skills-details-ind-2 {
    width: 0%;
    height: 100%;
    background: rgba(30, 144, 255, 0.8);
}

@media screen and (max-width: 600px) {
    .skills-details-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}